{% extends 'base.html.twig' %}

{% block title %}Mes produits
{% endblock %}

{% block body %}
    <h1>La boutique</h1>
    <!-- <p>
            <a href="{{path('products_create')}}" class="btn btn-primary">Créer un produit</a>
            </p> 
            <table class="table">
            {% for product in products %}
            <tr>
            <td>
            <a href="{{path('products_show', {id:product.id})}}">{{ product.title}}</a>,
            {{product.category.name}}</td>
            <td>
            <a href="{{path('products_show', {id:product.id})}}" class="btn btn-primary">
            
            <i class="fas fa-search mr-1"></i>
            Détails
            </a>
            
            <a href="{{path('products_update', {id:product.id})}}" class="btn btn-warning">Modifier</a>
            
            <a href="{{path('products_delete', {id:product.id})}}" class="btn btn-danger">Supprimer</a>
            </td>
            </tr>
            {% endfor %}
            </table> -->
    {% for category in categories | filter(c=>c.parent is not null) %}
        <div class="alert alert-secondary">
            <h2 class="alert-title">
                {{category.parent.name}}
                |
                {{ category.name }}
            </h2>
        </div>
        <div class="row">

            {% for product in category.products | filter(p=>p.featured) | slice(0, 3)%}

                <div class="col-4">
                    <div class="card mb-3">
                        <h5 class="card-header" style="min-height:70px;">{{ product.title}}</h5>
                        <img class="img-fluid" style="" src="{{product.picture}}" alt="Image of {{product.title}}">
                        <div class="card-body">
                            <p class="card-text">{{product.introduction}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Prix :
                                {{product.price | price}}
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="{{path('products_show', {id:product.id})}}" class="btn btn-primary">
                                <i class="fas fa-search mr-1"></i>
                                Détails
                            </a>
                            <a href="{{path('cart_add', {id:product.id})}}" class="btn btn-success">
                                <i class="fas fa-shopping-cart mr-1"></i>
                                Ajouter au panier
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}


{% endblock %}
